<h1>Holaa</h1>
<h2>{{title}}</h2>
<button (click)="darMensaje()">Mensaje de saludo! :)</button>
<hr>
<ul>
  <li>
    <a href="http://qhubo.com">Periodico el Q'hubp</a>
  </li>
  <li>
    <a href="http://eltiempo.com">Periorido El Tiempo</a>
  </li>
  <li>
    <a href="http://elnuevodia.com">Periodico El Nuevo Dia</a>
  </li>
</ul>
<h2>{{valor}}</h2>
<button (click)="incrementar()">Incrementar</button>
<button (click)="decrementar()">Decrementar</button>

<h2>Paginas</h2>
<ol>
  <li><a href="/page1" target="_blank" rel="noopener noreferrer">Page1</a></li>
  <li><a href="/page2" target="_blank" rel="noopener noreferrer">Page2</a></li>
</ol>
<router-outlet></router-outlet>